.navbar {
  display: flex;
  padding: 0px 20px;
  align-items: center;
  text-align: center;
  background-color: rgb(63, 80, 105);
}
.navbar span {
  font-size: 50px;
  font-weight: 800;
  color: rgb(166, 209, 223);
  text-shadow: -0.08em -0.04em 0.12em rgba(0, 0, 0, 0.9);
}
.navbar span:not(:first-child) {
  margin-left: -0.1em;
}
